.angular{
  font-style: italic;
  color: blueviolet;
}
.javascript{
  font-weight: bolder;
  color: rgb(245, 147, 26);
}
.desarrollo{
  color:rgb(234, 16, 186) ;
}
.top10
{
display: block;
}
.Notop10{
  display: none;
}
